.html{
   font-size: 15px;
};

.body{

};

.header{

};

.main{

};

.section{

}
.section .painel{

}

.painel-img{

}

.painel-img .img-principal{
   width: 20rem;
}

.img-principal{
   border-radius: 100% ;
}